body {
  margin: 0;
  background-color: bisque;
  font-family: sans-serif;
}

.container {
  border-radius: 5px;
  padding: 20px;
  width: 60%;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

.button {
  display: block;
  margin: auto;
  padding: 8px 16px;
  background-color: #04AA6D;
  color: white;
  border: none;
  font-size: 18px;
  width: 200px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
}

.button:disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
}

.footer {
  text-align: center;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.error {
  color: red;
}

.margin-0 {
  margin: 0;
}

.error::before {
  content: '❌ '
}

.send-icon {
  width: 60px;
}

.img {
  background-color: #262626;
  width: 60px;
  height: 60px;
}

.message-container {
  height: 250px;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.text h2, .text p {
  margin: 0;
}

.text h2 {
  font-size: 40px;
}

.text p {
  font-size: 18px;
}

.send-button {
  display: block;
  padding: 8px 16px;
  background-color: #04AA6D;
  color: white;
  border: none;
  font-size: 16px;
  width: 150px;
  border-radius: 25px;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .message-container {
    margin-top: 15vh;
  }
}