{% extends "mal.html" %}

{% block fanetittel %}
    IT1 Resultater Quiz
{% endblock %}

{% block innhold %}
    {% include "meny.html" with side="Resultater" %}
    <div class="boksfargerCL">
        <h1>Quiz - Resultater</h1>
    </div>
    <div class="boksfargerCL">
        <table>
            <thead>
                <tr><th>ID</th><th>Navn</th><th>Poeng</th></tr>
            </thead>
            <tbody>
                {% for x in resultatliste|dictsortreversed:"poeng" %}
                    <tr><td>{{x.id}}</td><td>{{x.navn}}</td><td>{{x.poeng}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}